<div class="case-page">
  <div class="case-page-heatmap">
    <citation-heatmap citations="$ctrl.citationsMap"
        on-page-select="$ctrl.scrollToPage(page);">
    </citation-heatmap>
  </div>
  <div class="case-page-case">
    <div class="case-page-case-text"
        ng-if="$ctrl.caseText"
        ng-bind-html="$ctrl.caseText">
    </div>
    <div class="case-page-case-text"
        ng-if="$ctrl.error">
      <p>Ah, we don't have that one. Perhaps you're interested in <a href="case/buckley-v-valeo">this particular case</a>?</p>
    </div>
  </div>
</div>
