.citation-heatmap {
  height: 100%;
}

.citation-heatmap-blip {
  cursor: pointer;
  position: relative;
}

.citation-heatmap-blip:hover:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 5px 5px white;
}

.citation-heatmap-blip-fill {
  background: #000;
  height: 100%;
}

.citation-heatmap-blip-tooltip-positioner {
  display: none;
  position: absolute;
  left: 108px;
  top: 50%;
}

.citation-heatmap-blip:hover .citation-heatmap-blip-tooltip-positioner {
  display: block;
}

.citation-heatmap-blip-tooltip-text {
  background-color: #222;
  border-radius: 3px;
  color: #f0f0f0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  top: -15px;
  white-space: nowrap;
}
