body,
html {
  margin: 0;
  padding: 0;
}

.case-page {
  position: relative;
}

.case-page-heatmap {
  height: 100%;
  position: fixed;
  width: 96px;
}

.case-page-case {
  background-color: #f0f0f0;
  padding: 24px 24px 24px 132px;
}

.case-page-case-text {
  background-color: #fff;
  box-shadow: 0 2px 4px #333;
  margin-right: 72px;
  padding: 36px;
  position: relative;
}

.case-page-case-text .page_number_margin {
  color: black;
  pointer-events: none;
  position: absolute;
  right: -60px;
}






/* Hide page numbers that would occur in notes. */

.case-page-case .note-container .page_number_margin {
  display: none;
}

.case-page-case .note-container {
  padding: 10px 20px;
  font-size: 14px;
}

.case-page-case .caption:first-child {
  -webkit-margin-before: 0;
}

.citation-heatmap-blip {
  cursor: pointer;
  overflow: hidden;
}

.citation-heatmap-blip:hover {
  outline: 1px solid red;
}

.citation-heatmap-blip__fill {
  background: #000;
  height: 100%;
  width: 100%;
}
