body,
html,
[ng-view],
.case-page {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.case-page {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.case-page-heatmap {
  box-sizing: border-box;
  height: 100%;
  min-width: 96px;
  padding: 24px 0;
  width: 96px;
  z-index: 1;
}

.case-page-case {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  padding: 24px;
}

.case-page-case-text {
  background-color: #fff;
  box-shadow: 0 2px 4px #333;
  margin-right: 72px;
  padding: 36px;
  position: relative;
}

.case-page-case-text .page_number_margin {
  color: black;
  pointer-events: none;
  position: absolute;
  right: -60px;
}


/* Hide page numbers that would occur in notes. */

.case-page-case .note-container .page_number_margin {
  display: none;
}

.case-page-case .note-container {
  padding: 10px 20px;
  font-size: 14px;
}

.case-page-case .caption:first-child {
  -webkit-margin-before: 0;
}

.citation-heatmap {
  height: 100%;
}

.citation-heatmap-blip {
  cursor: pointer;
  position: relative;
}

.citation-heatmap-blip:hover:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 5px 5px white;
}

.citation-heatmap-blip__fill {
  background: #000;
  height: 100%;
}

.citation-heatmap-blip-tooltip__positioner {
  display: none;
  position: absolute;
  left: 108px;
  top: 50%;
}

.citation-heatmap-blip:hover .citation-heatmap-blip-tooltip__positioner {
  display: block;
}

.citation-heatmap-blip-tooltip__text {
  background-color: #222;
  border-radius: 3px;
  color: #f0f0f0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  top: -15px;
  white-space: nowrap;
}
